# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
flutter_export_environment.sh

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Environment / Secrets
.env
.env.*
keys/
secrets/
firebase_key.json
google-services.json
serviceAccountKey.json

# Generated
coverage/